<mdc-dialog>
    <mdc-dialog-container>
        <mdc-dialog-surface>
            <mdc-dialog-title>Versiones del documento</mdc-dialog-title>
            <mdc-dialog-content>
                <mdc-list avatar twoLine>
                    <mdc-list-item>
                        <mdc-icon mdcListItemGraphic>folder</mdc-icon>
                        <mdc-list-item-text secondaryText="18/5/2019">Detalles de Competencias del puesto </mdc-list-item-text>
                        <mdc-checkbox mdcListItemMeta></mdc-checkbox>
                    </mdc-list-item>
                    <mdc-list-item>
                        <mdc-icon mdcListItemGraphic>folder</mdc-icon>
                        <mdc-list-item-text secondaryText="17/5/2019">Detalles de Competencias del puesto </mdc-list-item-text>
                        <mdc-checkbox mdcListItemMeta></mdc-checkbox>
                    </mdc-list-item>
                    <mdc-list-item>
                        <mdc-icon mdcListItemGraphic>folder</mdc-icon>
                        <mdc-list-item-text secondaryText="16/5/2019">Detalles de Competencias del puesto </mdc-list-item-text>
                        <mdc-checkbox mdcListItemMeta></mdc-checkbox>
                    </mdc-list-item>
                </mdc-list>
            </mdc-dialog-content>
            <mdc-dialog-actions>
                <button mdcDialogButton mdcDialogAction="close">Cerrar</button>
               <button mdcDialogButton mdcDialogAction="close">Descargar</button>
            </mdc-dialog-actions>
        </mdc-dialog-surface>
    </mdc-dialog-container>
</mdc-dialog>