<mdc-dialog>
    <mdc-dialog-container>
        <mdc-dialog-surface>
            <mdc-dialog-title>Julio Antonio Ortiz Pol</mdc-dialog-title>
            <mdc-dialog-content>
                <mdc-data-table>
                    <table mdcDataTableTable>
                        <thead>
                            <tr mdcDataTableHeaderRow>
                                <th mdcDataTableHeaderCell>
                                    <mdc-list twoLine interactive = "false">
                                        <mdc-list-item>
                                            <mdc-list-item-text secondaryText="j.ortiz@joptech.com">Correo
                                            </mdc-list-item-text>
                                        </mdc-list-item>
                                    </mdc-list>
                                </th>
                                <th mdcDataTableHeaderCell>
                                    <mdc-list twoLine interactive = "false">
                                        <mdc-list-item>
                                            <mdc-list-item-text secondaryText="8299058805">Teléfono
                                            </mdc-list-item-text>
                                        </mdc-list-item>
                                    </mdc-list>
                                </th>
                            </tr>
                            <tr mdcDataTableHeaderRow>
                                <th mdcDataTableHeaderCell>
                                    <mdc-list twoLine interactive = "false">
                                        <mdc-list-item>
                                            <mdc-list-item-text secondaryText="40227551682">DNI</mdc-list-item-text>
                                        </mdc-list-item>
                                    </mdc-list>
                                </th>
                                <th mdcDataTableHeaderCell>
                                    <mdc-list twoLine interactive = "false">
                                        <mdc-list-item>
                                            <mdc-list-item-text secondaryText="10/5/2011">Fecha de contratación
                                            </mdc-list-item-text>
                                        </mdc-list-item>
                                    </mdc-list>
                                </th>
                            </tr>
                            <tr>
                                <th mdcDataTableHeaderCell>
                                    <mdc-list twoLine interactive = "false">
                                        <mdc-list-item>
                                            <mdc-list-item-text secondaryText="Secondary text">Dirección
                                            </mdc-list-item-text>
                                        </mdc-list-item>
                                    </mdc-list>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </mdc-data-table>
            </mdc-dialog-content>
            <mdc-dialog-actions>
                <button mdcDialogButton mdcDialogAction="close">Cerrar</button>
            </mdc-dialog-actions>
        </mdc-dialog-surface>
    </mdc-dialog-container>
</mdc-dialog>