<mdc-dialog>
    <mdc-dialog-container>
        <mdc-dialog-surface>
            <mdc-dialog-title>Forgot your Pasword?</mdc-dialog-title>
            <mdc-dialog-content>
                <form [formGroup]="forgotPaswordForm" id="forgotPaswordForm" style="margin-top: 5%;">
                    <mdc-form-field fluid>
                        <mdc-text-field outlined label="User" 
                        required [helperText]="standardHelper" formControlName = "user"></mdc-text-field>
                        <mdc-helper-text #standardHelper validation persistent>Please type your user account
                        </mdc-helper-text>
                    </mdc-form-field>
                </form>
            </mdc-dialog-content>
            <mdc-dialog-actions>
                <button mdcDialogButton mdcDialogAction="close">Cancel</button>
                <button mdcDialogButton (click)="submit()">Send</button>
            </mdc-dialog-actions>
        </mdc-dialog-surface>
    </mdc-dialog-container>
</mdc-dialog>