<div fxLayout="row" fxLayoutAlign="center none">
    <mdc-data-table fxLayoutAlign="center">
        <table mdcDataTableTable>
            <thead>
                <tr mdcDataTableHeaderRow>
                    <th mdcDataTableHeaderCell>
                        <mdc-list twoLine interactive="false">
                            <mdc-list-item>
                                <mdc-list-item-text secondaryText="Alta">Prioridad
                                </mdc-list-item-text>
                            </mdc-list-item>
                        </mdc-list>
                    </th>
                    <th mdcDataTableHeaderCell>
                        <mdc-list twoLine interactive="false">
                            <mdc-list-item>
                                <mdc-list-item-text secondaryText="11/5/2019">Fecha de inicio
                                </mdc-list-item-text>
                            </mdc-list-item>
                        </mdc-list>
                    </th>
                    <th mdcDataTableHeaderCell>
                        <mdc-list twoLine interactive="false">
                            <mdc-list-item>
                                <mdc-list-item-text secondaryText="3/5/2020">Fecha de finalización
                                </mdc-list-item-text>
                            </mdc-list-item>
                        </mdc-list>
                    </th>
                    <th mdcDataTableHeaderCell>
                        <mdc-list twoLine interactive="false">
                            <mdc-list-item>
                                <mdc-list-item-text secondaryText="En progreso">Estado Actual
                                </mdc-list-item-text>
                            </mdc-list-item>
                        </mdc-list>
                    </th>
                </tr>
            </thead>
        </table>
    </mdc-data-table>
</div>
<div fxLayout="row" fxLayoutAlign="center none">
    <h2>Calendario</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center none">
    <iframe
        src="https://calendar.google.com/calendar/embed?src=mt6bh5f59hjhlseb94lurt30j4%40group.calendar.google.com&ctz=America%2FSanto_Domingo"
        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>